{% extends "base.html" %}

{% block content %}
<h2>Movies I Want to Watch:</h2>

<ul>
{% for movie in movies %}
    <li>
        <form action="/watched-it" method="post">
            {{ movie.title }}
            <input type="hidden" name="watched-movie" value="{{ movie.key().id() }}"/>
            <input type="submit" value="I Watched It!"/>
        </form>
    </li>
{% endfor %}
</ul>

<form action="/add" method="post">
    <label>
        I also want to watch
        <input type="text" name="new-movie"/>
    </label>
    <input type="submit" value="Add it to My List"/>
</form>

<p class="error">{{ error if error else "" }}</p>
{% endblock %}
