{% extends "base.html" %}

{% block content %}
<h2>Movies I Have Watched:</h2>

<ul>
{% for movie in movies %}
    <li>
        <h3>{{ movie.title }}</h3>
        <form action="/ratings" method="post">
            <label>
                My Rating:
                <select name="rating">
                {% for rating in ["How was it?", "*", "**", "***", "****", "*****"] %}
                    <option {{ "selected" if rating == movie.rating else "" }}>
                        {{ rating }}
                    </option>
                {% endfor %}
                </select>
            </label>
            <input type="hidden" name="movie" value="{{ movie.key().id() }}"/>
            <input type="submit" value="Rate it!"/>
        </form>
    </li>
{% endfor %}
</ul>
{% endblock %}
